<h2 mat-dialog-title>{{ title }}</h2>

<div mat-dialog-content>
  <mat-form-field [formGroup]="formGroup">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applySearch($event)" placeholder="Ex. Mia" #input formControlName="searchControl">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="rowData" matSort>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
        <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td 
            mat-cell 
            style="color: blue;"
            *matCellDef="let row" 
            (click)="selectRow(row)"
        > {{row.name}} </td>
      </ng-container>
  
      <!-- Fruit Column -->
      <ng-container matColumnDef="fruit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fruit </th>
        <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
      </ng-container>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator 
      aria-label="Select page of users"
      [length]="paginator.totalCount"
      [pageIndex]="paginator.pageIndex"
      [pageSize]="paginator.pageSize"
      [pageSizeOptions]="paginator.pageSizeOptions"
      (page)="pageChange($event)"
    ></mat-paginator>
  </div>

</div>

<mat-dialog-actions>
  <button mat-button (click)="onClose()">Cancel</button>
</mat-dialog-actions>