<mat-form-field>
  <mat-label>Table Name</mat-label>
  <mat-select 
    [value]="tableName.id"
    (selectionChange)="tableNameChange($event)"
  >
    <mat-option 
      *ngFor="let table of tableNames"
      [value]="table.id"
    >{{ table.name }}</mat-option>
  </mat-select>
</mat-form-field>

<br/>

<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applySearch($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<button mat-button (click)="openMyNewDialog()">New</button>

<button type="button" mat-button (click)="drawer.toggle(); getFilters()">
  Open Filters
</button>
  
<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side">
    <button mat-button (click)="saveFilters(); drawer.close()">Save</button>
    <button mat-button (click)="drawer.close()">Cancel</button>

    @for(filter of filters; track $index) {
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ filter.columnName }}</mat-card-title>
          <mat-card-subtitle>{{ filter.operator }}</mat-card-subtitle>
        </mat-card-header>
  
        <mat-card-content>
          <p>{{ filter.value }}</p>
        </mat-card-content>
  
        <mat-card-actions>
          <button mat-button (click)="openMyEditFilterDialog(filter, $index)">Edit</button>
          <button mat-button (click)="deleteFilter($index)">Delete</button>
        </mat-card-actions>
      </mat-card>
      <br/>
    }

    <button mat-button (click)="addFilter()">Add Filter</button>
  </mat-drawer>

  <mat-drawer-content (scroll)="scrollViewPageChange($event)">
    <div class="mat-elevation-z8 table-container">
      <table mat-table [dataSource]="rowData" matSort>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
          <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
    
        <!-- Fruit Column -->
        <ng-container matColumnDef="fruit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fruit </th>
          <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
        </ng-container>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <!-- <mat-paginator 
        aria-label="Select page of users"
        [length]="paginator.totalCount"
        [pageIndex]="paginator.pageIndex"
        [pageSize]="paginator.pageSize"
        [pageSizeOptions]="paginator.pageSizeOptions"
        (page)="pageChange($event)"
      ></mat-paginator> -->
    </div>
  </mat-drawer-content>
</mat-drawer-container>