<h2 mat-dialog-title>{{ title }}</h2>

<div mat-dialog-content [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Column Name</mat-label>
    <mat-select 
      formControlName="columnName"
      (selectionChange)="onChangeToUpdateFilterOption()"
    >
      @for(filterOption of filterOptions; track $index) {
        <mat-option [value]="filterOption.columnName">{{ filterOption.columnName }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Operators</mat-label>
    <mat-select formControlName="operator">
      @for(operator of operators; track $index) {
        <mat-option [value]="operator">{{ operator }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  @switch(formGroup.controls.columnName.value) {
    @case('Fruit') {
      <mat-form-field>
        <mat-label>Value</mat-label>
          <mat-select formControlName="value">
            @for(value of values; track $index) {
              <mat-option [value]="value">{{ value }}</mat-option>
            }
          </mat-select>
      </mat-form-field>
    }
    @case(
      formGroup.controls.columnName.value == 'Created Date'
      || formGroup.controls.columnName.value == 'Last Modified Date'
      ? formGroup.controls.columnName.value : ''
    ) {
      <mat-form-field>
        <mat-label>Value</mat-label>
        <input matInput formControlName="value" [matDatepicker]="picker" >
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    }
    @default {
      <mat-form-field>
        <mat-label>Value</mat-label>
        <input matInput formControlName="value">
      </mat-form-field>
    }
  }
</div> 

<mat-dialog-actions>
  <button mat-button (click)="onClose()">Cancel</button>
  <button mat-button (click)="submitDone()">Done</button>
</mat-dialog-actions>